@charset "ISO-8859-1";

.activeDay {
	background-color: #FFF0EB;
	color: red;
}

.currentHour {
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: top;
	border: 1px #d8c5c5 solid;

}

.dateTimeHead {
	border: 1px #d8c5c5 solid;
	text-align: center;
	vertical-align: middle;
	background-color: #F8F9FB;
	height: 20px;
	overflow: auto;
}

.tableTdStyle {
	border: 1px #d8c5c5 solid;
	height: 50px;
	width: 13.7%;
}

.activeDay .circleNumber {
	border-radius: 50%;
	width : 20px;
	height: 20px;
    background: red;
    color: white;
   	align-items : center;
    font: 15px Arial, sans-serif;
    padding: 3px;
}

.tableHead {
	height: 50px;
	text-align: center;
	vertical-align: middle;
	border: 1px  #d8c5c5 solid;
	border-bottom : none;
	display : flex;
 	align-items : center;
	
}

.name {
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
}

.number {
	font-size: 20px;
	vertical-align: middle;
}


.todayBtn {
	background-color: white;
	border: 1px #d8c5c5 solid;

}

.weekBtn {
	background-color:  #F8F9FB;
	border: 1px #d8c5c5 solid;
	
}

.btnForSelectingWeek {
	background-color: white;
	color: blue;
	border: none;
	font-size: 25px;
	vertical-align: middle;
}

.hamburger {
	color: red;
	padding-right: 5px;
}

.week {
	padding-left: 10px;
	padding-right: 10px;
}

.pattern {
	min-height:200px;
}

#stripes12 {
background-image: repeating-linear-gradient(165deg, #ccc, #ccc 1px, #dbdbdb 10px, #dbdbdb 1px);
}