@charset "ISO-8859-1";

.currentHour {
	width: 40px;
	height: 40px;
}

.activeDay {
	background-color: red;
	color: red;
}

.currentHour {
	text-align: center;
	vertical-align: top;
	border: 1px #d8c5c5 solid;

}

.dateHead {
	border: 1px #d8c5c5 solid;
	text-align: center;
	vertical-align: middle;
	background-color: #efeaea;
	height: 20px;
	overflow: auto;
}

.tableTdStyle {
	border: 1px #d8c5c5 solid;
	height: 50px;
	width: 13.7%;
}

.activeDay .circleNumber {
	border-radius: 50%;
	width : 20px;
	height: 20px;
    background: red;
    color: white;
   	align-items : center;
    font: 15px Arial, sans-serif;
    padding: 3px;
}

.pattern {
	min-height:200px;
}

#stripes12 {
background-image: repeating-linear-gradient(165deg, #ccc, #ccc 1px, #dbdbdb 10px, #dbdbdb 1px);
}