<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1" />
<!-- <meta th:content="${_csrf.token}" id="token_csrf" /> -->
<title>Insert title here</title>

<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{css/markupForAppointmentForm.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{css/jquery-ui.min.css}" rel="stylesheet"
	type="text/css" />
	
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


	
<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}">
	
</script>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}">
	
</script>
<script type="text/javascript" th:src="@{js/appointment.js}">
	
</script>

<script type="text/javascript" th:src="@{js/jquery-ui.min.js}">
	
</script>


</head>
<body>

	<div class="container">

		<div id="header"></div>

		<h2>Create New Appointment</h2>

		<div class="col-md-offset-2 col-md-10">

			<form class="form-horizontal" id="appointmentForm">

				<div class="form-group date" id="datePicker">
					<label class=" col-md-2 control-label" for="date"> Date: </label>
					<div class="input-group col-md-offset-1 col-md-3">
						<input type="text" class="form-control dateForm" id="date" /> <span
							class="input-group-addon"> <i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>

				<div class="form-group clockpicker">
					<label class="col-md-2 control-label" for="fromTime"> Time:
					</label>
					<div class="col-md-2 clockpicker">
						<input class="form-control" type="text" id="fromTime" />
					</div>
					<label class="col-md-1 control-label" for="toTime"> to </label>
					<div class="col-md-2">
						<input class="form-control" type="text" id="toTime" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="patientName">
						Patient name: </label>
					<div class="col-md-3">
						<input class="form-control" type="text" id="patientName" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="email"> Email: </label>
					<div class="col-md-3">
						<input class="form-control" type="email" id="email" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="phone"> Phone: </label>
					<div class="col-md-3">
						<input class="form-control" type="text" id="phone" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="organisation">
						Organization: </label>
					<div class="col-md-3">
						<select class="form-control" id="organisation">
							<option> ORG 1 </option>
							<option> ORG 2 </option>
							<option> ORG 3 </option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="notesComments">
						Notes/Comments: </label>
					<div class="col-md-7">
						<textarea class="form-control" id="notesComments" rows="2">
    </textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="remindsme">
						Reminds me: </label>
					<div class="col-md-3">
						<select class="form-control" id="remindsme">

							<option> 10 minutes before </option>
							<option> 20 minutes before</option>
							<option> 1 hour before </option>

						</select>
					</div>
				</div>

				<div class="form-group">



					<button class="col-md-2 btn btn-default"
						id="buttonForAttachingFiles">Attach File</button>

					<button class="col-md-offset-1 col-md-1 btn btn-default"
						id="buttonForCancel">Cancel</button>

					<button class="col-md-offset-1 col-md-2 btn btn-primary"
						id="buttonForCreating">Create</button>


				</div>







			</form>

		</div>

	</div>

</body>
</html>