<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1" />
<!-- <meta th:content="${_csrf.token}" id="token_csrf" /> -->
<title>Appointment</title>

<link th:href="@{css/bootstrap-select.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{css/markupForAppointmentForm.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{jquery-ui/jquery-ui.min.css}" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link th:href="@{css/bootstrap-clockpicker.min.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{css/checkboxStyle.css}" rel="stylesheet"
	type="text/css" />

<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}">
	
</script>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}">
	
</script>
<script type="text/javascript" th:src="@{js/appointment.js}">
	
</script>

<script type="text/javascript" th:src="@{jquery-ui/jquery-ui.min.js}">
	
</script>
<script type="text/javascript" th:src="@{js/clockface.js}">
	
</script>

<script type="text/javascript" th:src="@{js/bootstrap-clockpicker.js}">
	
</script>
<script type="text/javascript" th:src="@{js/bootstrap-select.min.js}">
	
</script>

</head>
<body>

	<div class="container">

		<div class="header"></div>

		<div class="row formHead">
			<h3 class="col-md-offset-1 col-md-5">Create New Appointment</h3>
			<button class="btn col-md-offset-5 col-md-1 exitBtn" id="exitBtn">
				<i class="glyphicon glyphicon-remove"> </i>
			</button>
		</div>

		<div class="col-md-offset-2 col-md-10">

			<form class="form-horizontal" id="appointmentForm">

				<div class="form-group has-feedback date">
					<label class="col-md-2 control-label" for="date"> Date: </label>
					<div class="col-md-3">
						<input type="text" class="form-control" id="date" /> <i
							class="fa fa-calendar form-control-feedback"></i>
					</div>
				</div>

				<div class="form-group has-feedback time">
					<label class="col-md-2 control-label" for="fromTime"> Time:
					</label>
					<div class="col-md-2">
						<input class="form-control clockpicker " type="text" id="fromTime" />
						<i class="glyphicon glyphicon-menu-down form-control-feedback"></i>
					</div>
					<label class="control-label col-md-1 toLabel" for="toTime">
						To: </label>
					<div class="col-md-2">
						<input class="form-control clockpicker" type="text" id="toTime" />
						<i class="glyphicon glyphicon-menu-down form-control-feedback"></i>
					</div>
				</div>

				<div class="form-group patientName">
					<label class="col-md-2 control-label" for="patientName">
						Patient name: </label>
					<div class="col-md-3">
						<input class="form-control" type="text" id="patientName" />
					</div>
					<div class="col-md-2 checkbox checkbox-primary">
						<input type="checkbox" checked="checked" id="checkbox" /> <label
							for="checkbox">mPatient </label>
					</div>
				</div>

				<div class="form-group email">
					<label class="col-md-2 control-label" for="email"> Email: </label>
					<div class="col-md-3">
						<input class="form-control emailInput" type="email" id="email" />
					</div>
				</div>

				<div class="form-group phone">
					<label class="col-md-2 control-label" for="phone"> Phone: </label>
					<div class="col-md-3">
						<input class="form-control" type="text" id="phone" />
					</div>
				</div>

				<div class="form-group organisation">
					<label class="col-md-2 control-label" for="organization">
						Organization: </label>
					<div class="col-md-3">
						<select class="form-control selectpicker" id="organization">
							<option> ORG 1 </option>
							<option> ORG 2 </option>
							<option> ORG 3 </option>
						</select>
					</div>
				</div>

				<div class="form-group notesComments">
					<label class="col-md-2 control-label" for="notesComments">
						Notes/Comments: </label>
					<div class="col-md-6">
						<textarea class="form-control" id="notesComments" rows="3">
   						 </textarea>
					</div>
				</div>

				<div class="form-group remindsme">
					<label class="col-md-2 control-label" for="remindsme">
						Reminds me: </label>
					<div class="col-md-3">
						<select class="form-control selectpicker" id="remindsme">
							<option> 10 minutes before </option>
							<option> 20 minutes before</option>
							<option> 1 hour before </option>
						</select>
					</div>
				</div>

				<div class="form-group buttons">
					<button class="col-md-2 btn btn-default buttonForAttachingFiles"
						id="buttonForAttachingFiles">Attach File</button>
					<button
						class="col-md-offset-3 col-md-1 btn btn-default buttonForCancel"
						id="buttonForCancel">Cancel</button>
					<button class="col-md-2 btn btn-primary buttonForCreating"
						id="buttonForCreating">Create</button>
				</div>

			</form>
			
		</div>
	</div>
</body>
</html>