<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1" />

<link th:href="@{css/bootstrap-select.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />

<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}">
	
</script>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}">
	
</script>
<script type="text/javascript" th:src="@{js/bootstrap-select.min.js}">
	
</script>

<script type="text/javascript" th:src="@{js/home.js}">
	
</script>

<title>Insert title here</title>
</head>
<body>


<select title="Pick a number" class="selectpicker">
  <option>Select...</option>
  <option>One</option>
  <option>Two</option>
  <option>Three</option>
</select>





</body>
</html>