<div class="wrapper">
	<nav id="sidebar">

		<div id="content">
			<label><i class="btn fa fa-bars" aria-hidden="true"
				id="sidebarCollapse"></i> <span> m. </span> </label>
		</div>

		<ul class="list-unstyled components">
			<li><a href="#"><i class="glyphicon glyphicon-th-large"></i>Dashboard</a></li>
			<li class="active"><a th:href="@{therapiePlan}"><i
					class="fa fa-calendar-o"></i>Therapieplan</a></li>
			<li><a href="#"><i class="fa fa-cutlery"></i>Meal Plan</a></li>
			<li><a href="#"><i class="fa fa-plus"></i>My Clinic</a></li>
			<li><a href="#"><i class="fa fa-question-circle"></i>Questionnaires</a></li>
			<li><a href="#"><i class="fa fa-info-circle"></i>Help &amp;
					Support</a></li>
		</ul>
		<ul class="list-unstyled componentsSingOut">
			<li><a href="#"><i class="fa fa-sign-out"></i>Sign out</a></li>
		</ul>

	</nav>

</div>