<div class="row">
	<div class="therapiePlanHead">

		<div class="col-xs-3 headName">
			<p>
				<span class="fa fa-calendar" style="color: blue"></span>
				THERAPIEPLAN
			</p>
		</div>

		<div class="col-xs-offset-6 col-xs-3">
			<div class="row">
				<img th:src="@{pictures/profile.png}" class="col-xs-3 pictureHeader" />
				<p class="col-xs-7 headerUsername">
					Martin Ozill <i class="glyphicon glyphicon-menu-down"></i>
				</p>
			</div>
		</div>

	</div>
</div>

<div class="gap"></div>